/*
Copyright TheLarason 2026
*/
* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: url(../images/arrowhead.svg) 12 12, auto !important;
}

/*a:hover {
    cursor: url(../images/hand-pointer.svg) 12 12, auto !important;
}*/

.font-roboto {
    font-family: "Roboto", sans-serif;
}
.navbar{
    display: flex;
}
.navbar-link{
    display: flex;
}

.hero{
    background-image: linear-gradient(rgb(26, 64, 251),rgb(60, 92, 250),rgb(60, 92, 250),rgb(113, 113, 255),rgb(130, 130, 255),#8585ff,white);
}
/*iframe styling*/
.grid-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.iframe {
    width: 400px;
    height: 250px;
    border-radius: 5%;
    margin-top: 1rem;
}

@media (min-width: 640px) {
    .iframe {
        width: 560px;
        height: 315px;
        margin-top: 1rem;
        border-radius: 5%;
    }
}


@media (max-width: 768px) {
    .center .second, .centre-box {
        flex: 100%;
    }
}


/*@media(min-width:768px){
  .centre-box{
    margin: 2rem 10rem;
  }
}*/
main {
    display: block;
}

.color {
    color: oklch(22% 0.091 267.935);
}


.article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-1{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
padding: 2rem;
gap: 5px;
}

.article-1 div{
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.article-2 {
    max-width: 300px;
    border-radius: 1rem;
    text-align: center;
    padding: 5rem;
    margin: 5rem 0;
    background-color: #f0f0f0;
}
.footer-content {
    padding: 2rem;
}
footer{
    background-color: #474747;
    color: #f0f0f0;
}

.all-buttons:hover{
transform: translateY(-5px);
box-shadow: 4px 4px rgb(25, 25, 25);
transition: 0.25s ease;
}